<div id="box">
    <img src="assets/imgLane/lane_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
            You'll find everything within reach at Lane Residences. Located in San Antonio Agdao, it lies within the SM City Lanang Premier complex. Its close proximity to Davao International Airport and Seaport gives you that added level of convenience. You get easy access to major land, sea, and air transportation centers to help get you to your next destination. Rounding out the area are the many businesses and offices for enterprising individuals.          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>
            Lane Residences is designed with lush greenery and multiple open spaces to create a calming atmosphere, perfect for leisure. Have a picnic, play with your family at the playground, take a stroll, play a pick-up game of basketball, or lounge at the clubhouse.          </p> 
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
          At Lane Residences, you’ll never need to go far to find what you need. With SM Lanang Premier right beside the property, you get a wealth of shopping, entertainment, and dining options waiting to be discovered. All of these come together to bring you a new kind of lifestyle that manages to combine excitement with a relaxing, laid-back vibe, all within the city. A lifestyle where everything adjusts to you.        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgLane/lane_map.jpg" class="static">
</div>

<div id="box2">
     <img src="assets/imgLane/lane_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgLane/lane_amenities1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgLane/lane_amenities2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgLane/lane_amenities3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLane/lane_amenities4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" class="amenitiesWrapper">
              <img src="assets/imgLane/lane_amenities5.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<!-- <div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgCharm/charm_modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgCharm/charm_modelunit2.jpg" alt="Random second slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgCharm/charm_modelunit3.jpg" alt="Random first slide" class="static1">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div> -->

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
            Php 3,600,000 - Php 5,500,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>

<app-inquiry [properties]="'Lane Residences'"></app-inquiry>

<!-- <div class="formContainer">
  <div class="container containerForm">
    <div class="form-group formHeader">
        Interested in owning an SMDC property? 
    <div class="form-group formHeader1">
        Complete the form below
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formFullName">
        <label for="exampleInputEmail1">Full Name*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formEmail">
        <label for="exampleInputEmail1">Email Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="col-sm-12 form-group formTelephone">
        <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Country*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Submit</button>
      </div>
    </div>
  </div>
  </div> -->

