<div class="mainProperties">

<div style="line-height:200%;">
    <br>
</div>

<div class="container">
  <div class="brand_logo_container"> 
    <img alt="img" class="img-responsive" src="assets/img/premiere.png" />
  </div>
  <h4><p class="fontPremier" routerLink="/outdoor">SMDC Premier</p></h4> 
</div>
<br/>

  <div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/airresidences">
            <!-- <div class="marginBox"> -->
            <img alt="img" class="img-responsive zoom" src="assets/img/Air Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF">Air Residences</p></h4> 
              <p class="fontFPlace">MAKATIY CITY</p>
            </div>
            <!-- </div> -->
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/coastresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Coast Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Coast Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">ROXAS BOULEVARD</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/fameresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Fame Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Fame Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">MANDALUYONG</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/glamresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Glam Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Glam Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">EDSA, QUEZON CITY</p>
             </div>
        </div>
    </div> 
</div>
<br/>
<div class="container"> 
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3  cssBox residences" routerLink="/goldofficeresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Gold Offices.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Gold Offices</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">SUCAT, PARANAQUE</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/goldresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Gold Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Gold Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">SUCAT, PARANAQUE</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/lushresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Lush Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Lush Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">MAKATI CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/redresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Red Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Red Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">CHINO ROCES, MAKATI CITY</p>
             </div>
        </div>
    </div> 
</div>
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/sresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/S Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">S Residences</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">MALL OF ASIA COMPLEX</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/sailresidences">
            <img alt="img" class="img-responsive zoom" src="assets/img/Sail Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Sail Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">MALL OF ASIA COMPLEX</p>
             </div>
        </div>
    </div> 
</div>

<div style="line-height:950%;">
    <br>
</div>

<!------------------------------------------- SMDC PREMIERE ------------------------------------------->

<div class="container">
    <div class="brand_logo_container"> 
      <img alt="img" class="img-responsive" src="assets/img/property.png" />
    </div>
    <h4><p class="fontPremier" routerLink="/outdoor">SMDC Properties</p></h4> 
</div>
<br/>

<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/berkeley">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Berkeley Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Berkeley Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">KATIPUNAN AVENUE</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/bloom">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Bloom Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Bloom Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">SUCAT, PARANAQUE</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/blue">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Blue Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Blue Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">KATIPUNAN AVENUE</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/breeze">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Breeze Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Breeze Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">ROXAS BOULEVARD</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/charm">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Charm Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Charm Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">FELIX AVENUE, CAINTA</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/chateau">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Chateau Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Chateau Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">BICUTAN, PARANAQUE CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/cheer">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Cheer Residences.png" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Cheer Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">SM CITY MARILAO, BULACAN</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/cheerful">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Cheerful Residences.png" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Cheerful Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">MABALACAT, PAMPANGA</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/field">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Field Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Field Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">SUCAT, PARANAQUE CITY</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/grace">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Grace Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Grace Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">TAGUIG CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/grass">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Grass Residences.png" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Grass Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">QUEZON CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/green2">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Green-2 Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Green 2-Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">DASMARINAS, CAVITE</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/green">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Green Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Green Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">TAFT AVENUE, MANILA</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/hill">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Hill Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Hill Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">NOVALICHES, QUEZON CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/hope">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Hope Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Hope Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">SM CITY, TRECE MARTIRES</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/jazz">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Jazz Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Jazz Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">BEL-AIR, MAKATI CITY</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/lane">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Lane Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Lane Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">SM LANANG PREMIER, DAVAO CITY</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/leaf">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Leaf Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Leaf Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">SUSANA HEIGHTS, MUNTINLUPA</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/light2">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Light2 Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Light2 Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">MANDALUYONG CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/light">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Light Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Light Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">EDSA-BONI MART STATION</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/mezza2">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Mezza-II Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Mezza II Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">AURORA BLVD, QUEZON CITY</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/mezza">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Mezza-Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Mezza Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">AURORA BLVD, QUEZON CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/mplace">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/M-Place Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">MPlace at South Triangle</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">SOUTH TRIANGLE, QUEZON CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/park">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Park Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Park Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">SANTA ROSA CITY, LAGUNA</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/princeton">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Princeton Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Princeton Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">AURORA BLVD, QUEZON CITY</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/sea">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Sea-Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Sea Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">MALL OF ASIA,PASAY CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/shell">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Shell-Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Shell Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">MALL OF ASIA,PASAY CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/shine">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Shine Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Shine Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">RENAISSANCE CENTER, ORTIGAS</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/shore">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Shore Residences.png" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Shore Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">MALL OF ASIA, PASAY CITY</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/smile">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Smile Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Smile Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">SM CITY BACOLOD</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/south">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/South Residences.png" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">South Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">LAS PINAS CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/spring">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Spring Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Spring Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">BICUTAN, PARANAQUE CITY</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/style">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Style Residences.jpg" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Style Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">ILOILO CITY</p>
            </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/sun">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Sun Residences.jpg" />
            <br/>
            <div class="text-center">
               <h4><p class="fontF" routerLink="/outdoor">Sun Residences</p></h4> 
               <p class="fontFPlace" routerLink="/outdoor">ESPANA AVENUE, QUEZON CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/trees">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Trees Residences.jpg" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Trees Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">NOVALICHES, QUEZON CITY</p>
             </div>
        </div>
        <div class="col-sm-3  cssBox residences" routerLink="/vine">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Vine Residences.png" />
            <br/>
            <div class="text-center">
                <h4><p class="fontF" routerLink="/outdoor">Vine Residences</p></h4> 
                <p class="fontFPlace" routerLink="/outdoor">SM CITY, NOVALICHES</p>
             </div>
        </div>
    </div> 
</div>
<br/><!------------------------------------------- NEXT ------------------------------------------->
<div class="container"> 
    <div class="row">
        <div class="col-sm-3  cssBox residences" routerLink="/wind">
            <img alt="img" class="img-responsive zoom" src="assets/img/properties/Wind Residences.png" />
            <br/>
            <div class="text-center">
              <h4><p class="fontF" routerLink="/outdoor">Wind Residences.</p></h4> 
              <p class="fontFPlace" routerLink="/outdoor">TAGAYTAY CITY</p>
            </div>
        </div>
    </div>
</div>

</div>