<div id="box">
    <img src="assets/imgGlam/glam_residences_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
            Surround yourself with the spectacular at Glam Residences. Envisioned as a complete, 
            cosmopolitan home for success-driven singles, 
            it is built for your utmost convenience and indulgence.
          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>Located right off Quezon City’s rising CBD – the Triangle Park – 
             Glam Residences is in the thick of all commercial activities in Northern Metro Manila. 
             It is a vibrant place that is home to high-rise condos, office towers, shopping malls, hotels, renowned medical centers, numerous parks, 
             and strategic transport hubs that offer easy access to vital points of Metro Manila.
          </p>
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
            Glam Residences is right at the center of all commercial activities in Northern Metro Manila. 
            The area is a vibrant place that has become a home to condo high-rises, office towers, shopping malls, hotels, renowned medical centers, numerous parks, 
            and well-planned transport hub that offers easy access to vital points of Metro Manila.
        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgGlam/glam_residences_map.jpg" class="static">
</div>

<!-- <div class="containerMap">
  <google-map></google-map>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>   -->

<div id="box2">
     <img src="assets/imgGlam/glam_residences_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgGlam/glam-Amenity1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGlam/glam-Amenity2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGlam/glam-Amenity3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity5.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity6.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity7.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity8.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity9.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity10.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity11.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity12.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity13.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGlam/glam-Amenity14.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGlam/glam-modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGlam/glam-modelunit2.jpg" alt="Random second slide" class="static1">
          </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
            Php 5,700,000- Php 11,500,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>


<div class="formContainer">
<div class="container containerForm">
  <div class="form-group formHeader">
      Interested in owning an SMDC property? 
  <div class="form-group formHeader1">
      Complete the form below
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formFullName">
      <label for="exampleInputEmail1">Full Name*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3 form-group formEmail">
      <label for="exampleInputEmail1">Email Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="col-sm-3 form-group formTelephone">
      <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formAddress">
      <label for="exampleInputEmail1">Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formAddress">
      <label for="exampleInputEmail1">Country*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formAddress">
      <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">NEXT</button>
    </div>
  </div>
</div>
</div>

