<div id="box">
    <img src="assets/imgMezza2/mezza2_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
            Experience all the best at the heart of Sta. Mesa with Mezza II Residences. This 40-storey development stands tallest in its area, providing residents with compelling views of the Metro Manila skyline.          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>
            Combined with the luxury of its amenities, Mezza II Residences boasts of accessibility and convenience being nearest the LRT 2 V. Mapa Station.          </p> 
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
          By being located so near to SM City Sta. Mesa, Mezza II Residences is definitely a convenient area to reside in.        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgMezza2/mezza2_map.jpg" class="static">
</div>

<div id="box2">
     <img src="assets/imgMezza2/mezza2_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgMezza2/mezza2_amenities1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgMezza2/mezza2_amenities2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgMezza2/mezza2_amenities3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgMezza2/mezza2_amenities4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgMezza2/mezza2_modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
            PPhp 8,200,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>

<app-inquiry [properties]="'Mezza2 Residences'"></app-inquiry>

<!-- <div class="formContainer">
<div class="container containerForm">
  <div class="form-group formHeader">
      Interested in owning an SMDC property? 
  <div class="form-group formHeader1">
      Complete the form below
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formFullName">
      <label for="exampleInputEmail1">Full Name*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formEmail">
      <label for="exampleInputEmail1">Email Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="col-sm-12 form-group formTelephone">
      <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formAddress">
      <label for="exampleInputEmail1">Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formAddress">
      <label for="exampleInputEmail1">Country*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formAddress">
      <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Submit</button>
    </div>
  </div>
</div>
</div> -->

