<div id="box">
    <img src="assets/imgSpring/spring_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
            Celebrate new beginnings at SMDC Spring Residences          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>
            Nurture a more fruitful life in a development that speaks of true elegance and sophistication, with Spring Residences’ well-appointed amenities and custom-made interiors of its hotel-inspired lobbies.          </p> 
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
          Located right beside SM City Bicutan, everything is within reach – from a number of shopping and dining selections, to other points of interest in the thriving districts of Makati and BGC.        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgSpring/spring_map.jpg" class="static">
</div>

<div id="box2">
     <img src="assets/imgSpring/spring_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgSpring/spring_amenities1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgSpring/spring_amenities2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgSpring/spring_amenities3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgSpring/spring_amenities4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" class="amenitiesWrapper">
              <img src="assets/imgSpring/spring_amenities5.jpg" alt="Random first slide" class="static">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgSpring/spring_amenities6.jpg" alt="Random second slide" class="static">
            </div>
          </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgSpring/spring_modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgSpring/spring_modelunit2.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgSpring/spring_modelunit3.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
            Php 4,200,000 - Php 5,400,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>

<app-inquiry [properties]="'Spring Residences'"></app-inquiry>

<!-- <div class="formContainer">
<div class="container containerForm">
  <div class="form-group formHeader">
      Interested in owning an SMDC property? 
  <div class="form-group formHeader1">
      Complete the form below
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formFullName">
      <label for="exampleInputEmail1">Full Name*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formEmail">
      <label for="exampleInputEmail1">Email Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="col-sm-12 form-group formTelephone">
      <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formAddress">
      <label for="exampleInputEmail1">Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formAddress">
      <label for="exampleInputEmail1">Country*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 form-group formAddress">
      <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Submit</button>
    </div>
  </div>
</div>
</div> -->

