<form [formGroup]="form">
<div class="formContainer">
  <div class="container containerForm">
    <div class="form-group formHeader">
        Interested in owning an SMDC property? 
    <div class="form-group formHeader1">
        Complete the form below
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formFullName">
        <label for="exampleInputEmail1">Full Name*</label>
        <!-- <app-form-control> -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 formControlName="fullName" placeholder="e.g Tracy Ann Casero" 
                 [ngClass]="{'input-error': fullName.invalid && fullName.touched }">

          <small class="text-danger" *ngIf="fullName.hasError('required') && fullName.touched">This field is required.</small>
        <!-- </app-form-control> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formEmail">
        <label for="exampleInputEmail1">Email Address*</label>
        <!-- <app-form-control> -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 formControlName="emailAddress" placeholder="e.g sample@email.com"
                 [ngClass]="{'input-error': emailAddress.invalid && emailAddress.touched }">

        <!-- </app-form-control> -->
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <small class="text-danger pr-5" *ngIf="emailAddress.hasError('required') && emailAddress.touched">This field is required.</small>
        <small class="text-danger" *ngIf="emailAddress.invalid && emailAddress.touched">This field require valid email address.</small>
      </div>
      <div class="col-sm-12 form-group formTelephone">
        <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
        <!-- <app-form-control> -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 formControlName="mobile" placeholder="+6328107300"
                 [ngClass]="{'input-error': mobile.invalid && mobile.touched }">

          <small class="text-danger" *ngIf="mobile.hasError('required') && mobile.touched">This field is required.</small>
        <!-- </app-form-control> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Address*</label>
        <!-- <app-form-control> -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 formControlName="address" placeholder="Unit no./ Street / Subdivision / Barangay"
                 [ngClass]="{'input-error': address.invalid && address.touched }">

          <small class="text-danger" *ngIf="address.hasError('required') && address.touched">This field is required.</small>
        <!-- </app-form-control> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Country*</label>
        <!-- <app-form-control> -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 formControlName="country" placeholder="Select a Country"
                 [ngClass]="{'input-error': country.invalid && country.touched }">

          <small class="text-danger" *ngIf="country.hasError('required') && country.touched">This field is required.</small>
        <!-- </app-form-control> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <button type="button" [disabled]="form.invalid" class="btn btn-primary btn-lg btn-block nextBtn" (click)="register()">Submit</button>
      </div>
    </div>
  </div>
  </div>
</div>
</form>
