<div id="box">
    <img src="assets/imgLush/lush_residences_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
            Designed to inspire balance and tranquility, its plush interiors, verdant green spaces and fitness facilities makes it more than just a home, it's a retreat.
          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>
            Lush Residences is an iconic landmark located north of the Makati Central Business District. A development that seamlessly blends elements of nature throughout the property.
          </p>
          <p>
            Designed to be an urban haven, unwind with comfort and ease at the well-appointed amenities and thoughtfully designed spaces to encourage balance and well-being. Its plush interiors, verdant green spaces, and fitness facilities make it more than just a home, it’s a retreat.
          </p>
          <p>
            Take a meditative stroll in the Lush Podium Garden’s tropical inspired greeneries or lie back at the porch and savor the peace and quiet of your very own paradise. Have an invigorating work out at the fintess gym or take a refreshing swim amidst a sanctuary of lush greeneries for a revitalized body and mind. Host an outdoor party, sip cocktails for two, bask and take in breathtaking city views in the verdant rooftop terraces. Visit the podium garden, en ensemble of lush greeneries and blooming flora from the tropics at the Lush Residences Sky Garden.
          </p>
          <p>
            Your home is truly an urban haven meant to refresh, revitalize, and inspire.
          </p>
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
            Located in Makati, the country's leading financial and central business district, enjoy the city's premier shopping destination, parks, museums and art galleries, performance and cultural centers.
        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgLush/lush_residences_map.jpg" class="static">
</div>

<div id="box2">
     <img src="assets/imgLush/lush_residences_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgLush/lush_residences_amenities1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgLush/lush_residences_amenities2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgLush/lush_residences_amenities3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_residences_amenities4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_residences_amenities5.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_residences_amenities6.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" class="amenitiesWrapper">
              <img src="assets/imgLush/lush_residences_amenities7.jpg" alt="Random first slide" class="static">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_residences_amenities8.jpg" alt="Random second slide" class="static">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_residences_amenities9.jpg" alt="Random third slide" class="static">
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgLush/lush_residences_amenities10.jpg" alt="Random first slide" class="static">
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgLush/lush_residences_amenities11.jpg" alt="Random first slide" class="static">
              </div>
          </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgLush/lush_modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgLush/lush_modelunit2.jpg" alt="Random second slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_modelunit3.jpg" alt="Random first slide" class="static1">
            </div>
          </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_modelunit4.jpg" alt="Random second slide" class="static1">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgLush/lush_modelunit5.jpg" alt="Random first slide" class="static1">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
            Php 6,800,000 - Php 9,800,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>


<div class="formContainer">
  <div class="container containerForm">
    <div class="form-group formHeader">
        Interested in owning an SMDC property? 
    <div class="form-group formHeader1">
        Complete the form below
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formFullName">
        <label for="exampleInputEmail1">Full Name*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formEmail">
        <label for="exampleInputEmail1">Email Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="col-sm-12 form-group formTelephone">
        <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Country*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Submit</button>
      </div>
    </div>
  </div>
  </div>
