<div id="box">
    <img src="assets/imgCoast/coast_residences_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
             Coast Residences is surrounded by reflections of Manila’s dynamic cultural mix.
          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>Coast Residences is surrounded by reflections of Manila’s dynamic cultural mix. 
              Amazing expressions of world class theatre, ballet, opera, music, and more, 
              take the stage at The Cultural Center of the Philippines, a few minutes away from the development. 
              To the west of the development, is the magical sunset of Manila Bay where one can enjoy the perfect stroll along the Baywalk or night out aboard the Manila Yacht Club cruise. 
              Galleries, studios, and exhibits fill nearby Intramuros, Manila’s historic core. 
              Travel southwards and bring entertainment and amusement to the optimum level, with theme-park Star City, 
              concert-hall SM Arena, and international shopping destination, SM Mall of Asia.
          </p>
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
            New views await you at Coast Residences, the newest SMDC Premier Development. 
            Situated in Roxas Boulevard, Coast Residences gives grand views of the Manila Bay Sunset and the Metro Manila Cityscape. 
            With a stunning exterior design and interiors inspired by Bali’s top hotels, 
            Coast Residences gives you a new view on premier condo living.
        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgCoast/coast_residences_map.jpg" class="static">
</div>

<!-- <div class="containerMap">
  <google-map></google-map>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>   -->

<div id="box2">
     <img src="assets/imgCoast/coast_residences_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgCoast/coast_amenities1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgCoast/coast_amenities2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgCoast/coast_amenities3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgCoast/coast_amenities4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgCoast/coast_amenities5.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgCoast/coast_modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgCoast/coast_modelunit2.jpg" alt="Random second slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgCoast/coast_modelunit3.jpg" alt="Random third slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgCoast/coast_modelunit4.jpg" alt="Random third slide" class="static1">
            </div>
          </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
            Php 5,500,000 - Php 23,000,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 embed-responsive embed-responsive-16by9 mb-4">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tK4IqQPhPm0" allowfullscreen></iframe>
  </div>
</div>


<div class="formContainer">
  <div class="container containerForm">
    <div class="form-group formHeader">
        Interested in owning an SMDC property? 
    <div class="form-group formHeader1">
        Complete the form below
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formFullName">
        <label for="exampleInputEmail1">Full Name*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formEmail">
        <label for="exampleInputEmail1">Email Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="col-sm-12 form-group formTelephone">
        <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Country*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Submit</button>
      </div>
    </div>
  </div>
  </div>

