<div id="box">
    <img src="assets/imgGrass/grass_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
            SM City North Edsa is the established lifestyle district north of Metro Manila and is the world’s 3rd largest shopping mall. SMDC Grass Residences Complex where SMDC Fern is located completes the full integration of this exciting and dynamic lifestyle district in the Quezon City. Built with an exclusive bridge way connected to SM City North Edsa, residents can enjoy instant access to all the good things offered in the lifestyle district that only one can get while living in a Grass Residences unit. Enjoy 800 retail shops, over 200 restaurant and dining options, 12 cinemas including an IMAX theatre          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>
            SMDC Fern at Grass Residences is the completion of the Grass Residences complex. With an iconic two-tower development featuring a modern façade, Fern Residences combines rest and recreation like they’ve never been more built in. Enjoy your very own private amenity area decked with a sprawling playground, picnic areas, and swimming pools.          </p> 
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
          SMDC Grass and Fern Residences are located in Quezon City, connected to SM City North Edsa via bridge way. It’s definitely a convenient, exciting and entertaining place to come home to. It is also situated in a highly accessible area. It is right by main roads both for going to the North and South side of the metro. There is an abundance of options for public transportations like jeepney, bus and van terminals. It is also near both MRT and LRT stations for your convenience. Private transport is also a breeze for vehicle owners.        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgGrass/grass_map.jpg" class="static">
</div>

<div id="box2">
     <img src="assets/imgGrass/grass_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgGrass/grass_amenities1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGrass/grass_amenities2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGrass/grass_amenities3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGrass/grass_amenities4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" class="amenitiesWrapper">
              <img src="assets/imgGrass/grass_amenities5.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGrass/grass_amenities6.jpg" alt="Random second slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGrass/grass_amenities7.jpg" alt="Random second slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGrass/grass_amenities8.jpg" alt="Random second slide" class="static">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGrass/grass_modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGrass/grass_modelunit2.jpg" alt="Random second slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGrass/grass_modelunit3.jpg" alt="Random first slide" class="static1">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
           Php 3,400,000 - Php 6,600,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>

<app-inquiry [properties]="'Grass Residences'"></app-inquiry>

<!-- <div class="formContainer">
  <div class="container containerForm">
    <div class="form-group formHeader">
        Interested in owning an SMDC property? 
    <div class="form-group formHeader1">
        Complete the form below
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formFullName">
        <label for="exampleInputEmail1">Full Name*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formEmail">
        <label for="exampleInputEmail1">Email Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="col-sm-12 form-group formTelephone">
        <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Address*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <label for="exampleInputEmail1">Country*</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 form-group formAddress">
        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Submit</button>
      </div>
    </div>
  </div>
  </div> -->
