<div class="container pt-5">
  <div class="row">
    <div class="col-md-5 pr-lg-5">
      <span class="media-center">
        <img alt="img" class="img-responsive renceGlass" src="assets/Profile/tracy.jpg" />
      </span>
    </div>
    <div class="col-md-7 pl-lg-5 pt-4">
      <label class="pText mainText">
        In today’s competitive market, it is important to have a reliable real estate agent with 
        superior communication skills that you can trust and depend on to guide you through the home buying process. 
        Tracy is committed to making her clients her number one priority and understands that buying or selling a 
        home is one of the most important decisions of your life.
      </label>
    </div>
  </div>
  <div class="row pt-5">
      <div class="col-md-12">
        <label class="pText about">
            about..
          </label>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <p class="pText">
            Every single day, SM touches the lives of millions of people through its stores, malls, banks, hotels and leisure facilities. 
            Now, Filipinos can live in style, comfort, and convenience with SM Development Corporation.
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <p class="pText">
            SM Development Corporation commits itself to provide access to luxurious urban living through vertical villages perfectly integrated 
            with a commercial retail environment, giving its residents access to a truly cosmopolitan lifestyle.
          </p>
      </div>
  </div>
  <div class="row pb-5">
      <div class="col-md-12">
        <p class="pText">
            Properties of SM Development Corporation are strategically situated in key areas across Metro Manila specifically the cities of Makati, 
            Mandaluyong, Manila, Paranaque, Las Pinas, Pasay, Pasig, Quezon City, and Taguig, as well as Tagaytay City.
          </p>
      </div>
  </div>
</div>


<!-- <div class="container"> -->
    <!-- <nav>
        <img src="assets/tracy-profile/logo.png" class="logo">
        <ul>
            <li><a href="#">ABOUT</a></li>
        </ul>
    </nav>
    <a href="#" class="contact-btn">CONTACT ME<img src="assets/tracy-profile/contact.png"></a>
    <div class="rowtest">
        <div class="column1">
            <h1>In today’s competitive market, it is important to have a reliable real estate agent with superior communication skills 
                that you can trust and</h1>
            <p>Previously worked at facebook & amazon</p>
        </div>
        <div class="column2"></div>
    </div> -->
<!-- </div> -->
