<div id="box">
    <img src="assets/imgGold/gold_residences_main.jpg" class="static">
  
    <img src="assets/img/premier big/smdc_premier.png" class="premier">

    <!-- <img src="assets/img/premier big/smdc_premier_air" class="premier_air"> -->
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="container">
   <div class="row">
       <div class="col-sm-6">
          <p class="AirTxt">
            Striking, modern, unparalleled- this is the Gold City in a nutshell.
          </p>
       </div>
       <div class="col-sm-6 twentysixpoint">
          <p>The seamless fusion of architecture and luxury creates a dynamic look, making it a cut above the rest. Its fancy aesthetic goes the same with the quality of life it brings, where you can get a golden moment in every corner. Enter the doors that will let you live in the finest and work in a prestigious set-up, and get the preview of elegance that awaits to be discovered.
          </p>
          <p>
            An 11.6- hectare master-planned community right across the Ninoy Aquino International Airport, the concept for SMDC’s first township is to be the gold standard- a convergence of modernization, dynamism, innovation, and prestige, assured in all its areas.
          </p>
       </div>
   </div>
</div>

<div style="line-height:400%;">
    <br>
</div>

<div class="landmark">
    <div class="landmarkChild">
        <p class="firstP">
            Location
        </p>
        <p class="secondP">
            Located in a place where life never stops, Gold City is right across NAIA Terminal 1, allowing easy access when you step in and out of Manila. It stands out with the golden façade that glistens from a distance, with it not being a far distance to what the city can offer.
        </p>
    </div>
</div>

<div id="box1">
    <img src="assets/imgGold/gold_residences_map.jpg" class="static">
</div>

<div id="box2">
     <img src="assets/imgGoldOffice/goldoffice_residences_vicinity.jpg" class="static">
     <img src="assets/img/premier big/air_vicinity_logo.png" class="vicinityLogo">
     <p class="vicinityText">
         Vicinity Map
     </p>
</div>

<div class="mainAmenities">
    <img src="assets/img/premier big/air_amenities_logo.png" class="amenitiesLogo">
    <p class="amenitiesText">
        Amenities
    </p>
    <div class="amenities">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" class="amenitiesWrapper">
            <img src="assets/imgGold/goldAmenity1.jpg" alt="Random first slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGold/goldAmenity2.jpg" alt="Random second slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGold/goldAmenity3.jpg" alt="Random third slide" class="static">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/goldAmenity4.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/goldAmenity5.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/goldAmenity6.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" class="amenitiesWrapper">
              <img src="assets/imgGold/goldAmenity7.jpg" alt="Random first slide" class="static">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/goldAmenity8.jpg" alt="Random second slide" class="static">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/goldAmenity9.jpg" alt="Random third slide" class="static">
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/goldAmenity10.jpg" alt="Random first slide" class="static">
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/goldAmenity11.jpg" alt="Random first slide" class="static">
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/goldAmenity12.jpg" alt="Random first slide" class="static">
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/goldAmenity13.jpg" alt="Random first slide" class="static">
            </div>
        </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="mainModelUnits">
  <img src="assets/img/premier big/air_modelunit_logo.png" class="modelunitsLogo">
    <p class="modelunitsText">
        Model Units
    </p>
   <div class="modelunits">
        <ngb-carousel> 
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGold/gold-modelunit1.jpg" alt="Random first slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imgGold/gold-modelunit2.jpg" alt="Random second slide" class="static1">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit3.jpg" alt="Random first slide" class="static1">
            </div>
          </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit4.jpg" alt="Random second slide" class="static1">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit5.jpg" alt="Random first slide" class="static1">
            </div>
          </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit6.jpg" alt="Random second slide" class="static1">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit7.jpg" alt="Random first slide" class="static1">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit8.jpg" alt="Random second slide" class="static1">
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit9.jpg" alt="Random first slide" class="static1">
              </div>
            </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit10.jpg" alt="Random second slide" class="static1">
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit11.jpg" alt="Random first slide" class="static1">
              </div>
            </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit12.jpg" alt="Random second slide" class="static1">
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit13.jpg" alt="Random first slide" class="static1">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit14.jpg" alt="Random second slide" class="static1">
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit15.jpg" alt="Random first slide" class="static1">
              </div>
            </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit16.jpg" alt="Random second slide" class="static1">
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit17.jpg" alt="Random first slide" class="static1">
              </div>
            </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="assets/imgGold/gold-modelunit18.jpg" alt="Random second slide" class="static1">
              </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="assets/imgGold/gold-modelunit19.jpg" alt="Random first slide" class="static1">
            </div>
          </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="pricerangeContainer">
  <div class="row">
      <div class="col-sm-6 pricerangeTxt">
            Price Range
      </div>
      <div class="col-sm-6 twentysixpoint1">
            Php 7,400,000 - Php 17,000,000
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
   </div>
   <div class="col-sm-6 twentysixpoint2">
         * Subject to change without prior notice.
  </div>
  </div>
</div>


<div class="formContainer">
<div class="container containerForm">
  <div class="form-group formHeader">
      Interested in owning an SMDC property? 
  <div class="form-group formHeader1">
      Complete the form below
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formFullName">
      <label for="exampleInputEmail1">Full Name*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g Tracy Ann Casero">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-3 form-group formEmail">
      <label for="exampleInputEmail1">Email Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g sample@email.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="col-sm-3 form-group formTelephone">
      <label for="exampleInputEmail1">Telephone / Mobile no.*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="+6328107300">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formAddress">
      <label for="exampleInputEmail1">Address*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unit no./ Street / Subdivision / Barangay">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formAddress">
      <label for="exampleInputEmail1">Country*</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select a Country">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-6 form-group formAddress">
      <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">NEXT</button>
    </div>
  </div>
</div>
</div>

